name: build

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]
        zustand: [latest, 4.2.0, 4.1.0]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: latest
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-${{ matrix.node-version }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.node-version }}-pnpm-store-

      - name: Install Dependencies
        run: pnpm install

      - name: Install Zustand ${{ matrix.zustand }}
        run: pnpm add zustand@${{ matrix.zustand }} -w

      - name: Patch tsup config
        if: ${{ matrix.zustand == '4.1.0' }}
        # Patch the tsup config to use `dts: false` for Zustand 4.1.0
        run: |
          sed -i~ 's/dts: true/dts: false/' tsup.config.ts

      - name: Build
        run: pnpm run build

      - name: Test
        run: pnpm run test:ci
